
@media only screen and  (min-width:  0px) { 
    .sidenav{
    width: max-content;
   }
   }
  
   @media only screen and  (min-width:  576px) { 
    .sidenav{
    width: max-content;
   }
   }
  
  
   @media only screen and  (min-width: 768px) { 
    .sidenav{
    width: max-content;
   }
  
   }
   @media only screen and (min-width: 992px) {
    .sidenav{
    display:none;
    }

    }
  
  
  @media only screen and (min-width: 1200px) {
    .sidenav{
      visibility: hidden;
    }
   
    }

   body{
      min-height: 100vh;
      flex-direction: column;
  
  background-color: #303030;    
}
/*background-color: #F1F0F6;*/
    main{
      flex: 1 0 auto;
    
    }

   .info {
  /* Arriba | Derecha | Abajo | Izquierda */
      margin: 20px 0px 20px 0px;
      padding: 20px 20px 20px 20px;
      text-align: center;
      background-color: #383838;
/*    border: 10px solid hsla(0, 3%, 33%, .1);
  */    
  
}  
  .info > a > h4{
    font-weight: 500;
    /*font-family: Roboto Slab,Times New Roman,serif;
    */
    color: #f2f2f2;
  } 
  h1, h3,h5{
    color: #f2f2f2;

  }
  .info > p{
    color: #999;
    font-size: 20px;
  
  }
  